
.example-card {
  width: 50vh;
  max-height: 85vh;
}

.example-header-image {
  max-width: max-content;
  max-height: min-content;
}

.imagen {
  height: 50vh;
  width: 50vh;
  background-repeat: no-repeat;
  background-size: inherit;
}
